.task_list {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.task_card {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 420px;
  height: 45px;
}

.task_card:first-child {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.task_card:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.left {
  margin-right: 10px;
}

.center {
  flex-grow: 1;
}

.right {
  margin-left: 10px;
  margin-right: 10px;
}

input[type="checkbox"] {
  width: 22px;
  height: 22px;
  color: #a38455;
  vertical-align: middle;
  -webkit-appearance: none;

  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background 300ms;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: "";
  color: transparent;
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  border: 0;
  background-color: transparent;
  background-size: contain;
  box-shadow: inset 0 0 0 1px #554430;
}

[type="checkbox"]:checked {
  background-color: currentcolor;
}

[type="checkbox"]:checked::before {
  box-shadow: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E %3Cpath d='M15.88 8.29L10 14.17l-1.88-1.88a.996.996 0 1 0-1.41 1.41l2.59 2.59c.39.39 1.02.39 1.41 0L17.3 9.7a.996.996 0 0 0 0-1.41c-.39-.39-1.03-.39-1.42 0z' fill='%23fff'/%3E %3C/svg%3E");
}

.grip_dots_vertical {
  width: 20px;
  height: 20px;
  rotate: 90deg;
}

.task_options {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
