.modal {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 350px;
  padding: 20px;
  border-radius: 10px;
  color: #5e4f39;
}

.bottom_buttons_row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
